:root {
  --textcolor: #3b3a3a;
  --linkcolor: #acacac;
  --linkhover: #a6b1bc;
  --bgcolor: #e8e8e8;
}

body {
  background-color: var(--bgcolor);
  font-family: Verdana, sans-serif;
  color: var(--textcolor);
  margin: 0;
}

#calendarBody {
  height: 100%;
  display: none;
}

a,
a:visited {
  color: var(--linkcolor);
}

a:hover {
  background-color: var(--linkhover);
}

#heading {
  display: block;
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: -0.1em;
  color: var(--textcolor);
  margin: 50px auto 30px 10%;
}

#topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#selectionContainer {
  margin-left: 10%;
  display: none;
  align-items: center;
}

#currentColor {
  border-radius: 5px;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

#currentTitle {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
  font-size: 20px;
}

.fullTitle {
  display: none;
}

main {
  margin: 3%;
}

table {
  table-layout: auto;
}

th {
  border: 1px solid;
  height: 20px;
}

.dayLabel {
  text-align: center;
}

.dayHeaderRow {
  border: none;
  font-size: small;
}

.monthLabel {
  text-align: left;
}

.dayCell {
  max-width: 40px;
  max-height: 40px;
  position: relative;
  border: 1px solid;
  width: 20vw;
  height: 100%;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contentStripe {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.stripeHidden {
  display: none;
}

td.scaled {
  transform: scale(2.3);
  width: fit-content;
  height: 20px;
  z-index: 1;
  position: relative;
}

.dayMarker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.catCount {
  font-weight: bold;
  font-style: italic;
}

form {
  margin: 15px;
}

#categoryContainer {
  float: left;
  margin: 20px;
  display: none;
}

#inputFieldRow {
  display: flex;
}

#categoryTable {
  width: 100%;
  table-layout: auto;
  width: auto;
}

.catTableRow {
  align-items: center;
  min-height: 20px;
}

.tableRowSelected {
  align-items: center;
  min-height: 20px;
  background-color: var(--linkhover);
}

#categoryTable td {
  max-width: fit-content;
  padding: 8px;
  border: 1px solid;
  font-size: 12px;
  vertical-align: middle;
  height: auto;
  width: auto;
}

.colorBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  height: 20px;
  width: 20px;
}

.colorEditPicker {
  border-style: none;
  border-radius: 5px;
  padding: 0px;
  height: 25px;
  width: 25px;
}

.countLabel {
  font-style: italic;
  font-size: 0.5rem;
}

.delIcon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 15px;
  width: 15px;
}

[id$="Eyes"] {
  float: left;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

[class$="Select"] {
  margin-right: 5px;
}

[class$="Count"] {
  font-size: 0.7rem;
  font-style: italic;
}

#userColor {
  vertical-align: middle;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  height: 20px;
  width: 20px;
}

.dayCell:hover {
  background-color: var(--linkhover);
}

.dayCell {
  background-color: var(--bgcolor);
  transition: transform 0.15s ease;
  min-width: 20px;
}
